@mixin heading-styling {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}
@mixin link-styling {
}
@mixin nav-link-styling {
}

@mixin secondary-heading-styling {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

@mixin text-styling {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

//Responsive mixins 
$breadpoints-up: (
  "mobile": 480px,
  "tablet": 700px,
  "laptop": 1200px,
);
@mixin breakpoint($size) {
  @media (max-width: (map-get($breadpoints-up, $size))) {
    @content;
  }
}
