@use "kit/index" as u;

@include u.breakpoint(mobile) {
  .container {
    padding: 50px 30px;
  }
  .navbar {
    padding: 0 30px;
    position: relative;
  }
  .navbar .navbar-nav {
    position: absolute;
    right: -100;
    height: 90vh;
    top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: u.$navbar-bg;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
  }
  .navbar .menu-icon {
    display: block;
  }
  .navbar-nav_active {
    transform: translateX(-100%);
  }
  .manu-icon_active .top {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .manu-icon_active .middle {
    opacity: 0;
  }
  .manu-icon_active .bottom {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@include u.breakpoint(tablet) {
  .navbar .navbar-nav {
    // width: 60%;
  }
  body {
    overflow: hidden;
  }
}
