/* Import Fonts From GoogleFonts */
@use "kit/index" as u;
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Source+Sans+Pro:wght@400;600&display=swap");
/* Deafaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Source Sans Pro";
  // overflow: hidden;
}

h1,
h2 {
  @include u.heading-styling;
}
p {
  text-align: center;
}
.container {
  padding: 100px 150px;
}

header {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background: linear-gradient(#0000002a, #00000000);
  padding: 0 150px;
}

// Header ------------------------------------------------------------------------------------
header .logo {
  @include u.logo-setting;
  color: u.$main-white;
}
.navbar ul {
  @include u.navbar-setting;
}
.navbar ul li {
  display: inline-block;
}

.navbar ul li .nav__link {
  @include u.nav-link-setting;
}
.navbar ul li .nav__link,
.navbar ul li .nav__link::after,
.navbar ul li .nav__link::before {
  transition: all 0.3s ease-in-out;
}

.navbar ul li .nav__link:hover {
  color: u.$main--btn-col;
}
.navbar ul li .nav__link {
  position: relative;
}
.navbar ul li .nav__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background-color: u.$main-white;
  height: 1px;
}
.navbar ul li .nav__link:hover:after {
  width: 80%;
  background-color: u.$main--btn-col;
}

.navbar .hamburger {
  display: none;
}

// ------ Hero Section ---------------------------------------------------------
.hero {
  background-image: url(../assets/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100vh;
}

.hero .container {
  text-align: center;
  padding: 40vh 30vw 19vh 30vw;
}

.hero .container p {
  @include u.sec-heading-style;
}
.hero .container h1 {
  color: #fff;
}
.hero .logo-anim {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
}
.hero img {
  animation: rotation-key 1s ease-in infinite 1s;
}
@keyframes rotation-key {
  100% {
    transform: rotateY(180deg);
  }
  0% {
    transform: rotateY(0deg);
  }
}

//Main section ------------------------------------------------------------------------------------
main {
  text-align: center;
}
main .container h1 {
  color: #464547;
}
main .container .sub-text {
  @include u.sec-heading-style;
  color: #666;
  padding: 0 25%;
}
main .container .asides {
  display: flex;
  margin-bottom: 1em;
}
main .container .asides p {
  color: #666666;
  text-align: left;
  padding: 2em;
  width: 50%;
}
main .container .main-btn {
  @include u.main-btn;
  background-color: u.$main--btn-col;
  color: u.$main-white;
}
main .container .main-btn:hover {
  transition: all 0.5s ease-in-out;
  transform: rotate(15deg);
  background-color: #000;
}

// Learn-more section ------------------------------------------------------------------------------------
.learn-more {
  background-image: url(../assets/bg2.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.learn-more .container {
  padding: 50px 150px;
  text-align: center;
}
.learn-more .container h1 {
  color: #fff;
}

.learn-more .container .sec-heading {
  @include u.sec-heading-style;
  padding: 0 30%;
}
.learn-more .play-btn {
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.learn-more .play-btn .circle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 140px;
  height: 140px;
  background-color: u.$main--btn-col;
  margin: 0 auto;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s ease;
}
.learn-more .play-btn .circle:hover {
  background-color: u.$main-white;
  width: 130px;
  height: 130px;
}
.learn-more .play-btn .circle:hover > .polygon {
  color: u.$main--btn-col;
  font-size: 65px;
}
.learn-more .play-btn .circle .polygon {
  color: u.$main-white;
  font-size: 70px;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease;
}

footer {
  background-color: u.$footer-bg;
}
footer .container {
  display: grid;
  grid-template-rows: 90%;
  grid-template-columns: 25% 25% 25% 25%;
}
footer p,
footer a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
  text-align: left;
}
footer .footer-logo p {
  @include u.logo-setting;
  display: inline-block;
  color: u.$main-white;
}
footer .footer-logo {
  grid-column: span 1;
  display: flex;
  align-items: center;
}
footer .footer-logo img {
  height: 1.5em;
  padding-right: 1em;
}
footer .footer-info {
  grid-column: span 3;
}
footer .emailing {
  grid-row: 3/3;
  grid-column: 2/2;
}
footer .footer-copy {
  grid-column: 4/4;
  grid-row: 3/3;
  text-align: right !important;
}
